In [36]:
import pandas as pd

In [37]:
data = pd.read_csv('churn_prediction.csv')

In [38]:
data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn,last_transaction
0,1,2101,66,Male,0.0,self_employed,187.0,2,755,1458.71,...,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0,2019-05-21
1,2,2348,35,Male,0.0,self_employed,NaN,2,3214,5390.37,...,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0,2019-11-01
2,4,2194,31,Male,0.0,salaried,146.0,2,41,3913.16,...,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0,NaT
3,5,2329,90,NaN,NaN,self_employed,1020.0,2,582,2291.91,...,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1,2019-08-06
4,6,1579,42,Male,2.0,self_employed,1494.0,3,388,927.72,...,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1,2019-11-03

In [39]:
data.shape

(28382, 21)

data.head()

## Min , Max and Range of Data

In [40]:
# storing indicates of all numerical data  types is numerical
numerical_cols = data.select_dtypes(include=['int', 'float']).columns

In [41]:
# 
numerical_cols

Index(['customer_id', 'vintage', 'age', 'dependents', 'city',
       'customer_nw_category', 'branch_code', 'current_balance',
       'previous_month_end_balance', 'average_monthly_balance_prevQ',
       'average_monthly_balance_prevQ2', 'current_month_credit',
       'previous_month_credit', 'current_month_debit', 'previous_month_debit',
       'current_month_balance', 'previous_month_balance', 'churn'],
      dtype='object')

## observation with maximum current month debit

In [42]:
data[data['current_month_debit'] == data['current_month_debit'].max()]

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn,last_transaction
24095,25712,1902,90,Male,0.0,retired,1020.0,2,5,46.5,...,11728.39,111617.41,12269845.39,0.21,7637857.36,0.21,8399.62,24270.54,1,2019-12-13

## range of age is out dataset including the difference of age between for older and youngest customers

In [43]:
print(data['age'].min(), data['age'].max())

1 90

In [44]:
##printing Max of every numerical column
data[numerical_cols].max()

customer_id                          30301.00
vintage                               2476.00
age                                     90.00
dependents                              52.00
city                                  1649.00
customer_nw_category                     3.00
branch_code                           4782.00
current_balance                    5905904.03
previous_month_end_balance         5740438.63
average_monthly_balance_prevQ      5700289.57
average_monthly_balance_prevQ2     5010170.10
current_month_credit              12269845.39
previous_month_credit              2361808.29
current_month_debit                7637857.36
previous_month_debit               1414168.06
current_month_balance              5778184.77
previous_month_balance             5720144.50
churn                                    1.00
dtype: float64

In [45]:
## pringintg the Min of every numerical column
data[numerical_cols].min()

customer_id                           1.00
vintage                              73.00
age                                   1.00
dependents                            0.00
city                                  0.00
customer_nw_category                  1.00
branch_code                           1.00
current_balance                   -5503.96
previous_month_end_balance        -3149.57
average_monthly_balance_prevQ      1428.69
average_monthly_balance_prevQ2   -16506.10
current_month_credit                  0.01
previous_month_credit                 0.01
current_month_debit                   0.01
previous_month_debit                  0.01
current_month_balance             -3374.18
previous_month_balance            -5171.92
churn                                 0.00
dtype: float64

## displaying min and max with formated way

In [48]:
for col in numerical_cols:
    print('Range of  {}{}{}{}{}{}{}{}'.format(col, " : ", " ", "[", data[col].min(), ', ', data[col].max(), ']'))

Range of  customer_id :  [1, 30301]
Range of  vintage :  [73, 2476]
Range of  age :  [1, 90]
Range of  dependents :  [0.0, 52.0]
Range of  city :  [0.0, 1649.0]
Range of  customer_nw_category :  [1, 3]
Range of  branch_code :  [1, 4782]
Range of  current_balance :  [-5503.96, 5905904.03]
Range of  previous_month_end_balance :  [-3149.57, 5740438.63]
Range of  average_monthly_balance_prevQ :  [1428.69, 5700289.57]
Range of  average_monthly_balance_prevQ2 :  [-16506.1, 5010170.1]
Range of  current_month_credit :  [0.01, 12269845.39]
Range of  previous_month_credit :  [0.01, 2361808.29]
Range of  current_month_debit :  [0.01, 7637857.36]
Range of  previous_month_debit :  [0.01, 1414168.06]
Range of  current_month_balance :  [-3374.18, 5778184.77]
Range of  previous_month_balance :  [-5171.92, 5720144.5]
Range of  churn :  [0, 1]