In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('churn_prediction.csv')

In [3]:
data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn,last_transaction
0,1,2101,66,Male,0.0,self_employed,187.0,2,755,1458.71,...,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0,2019-05-21
1,2,2348,35,Male,0.0,self_employed,NaN,2,3214,5390.37,...,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0,2019-11-01
2,4,2194,31,Male,0.0,salaried,146.0,2,41,3913.16,...,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0,NaT
3,5,2329,90,NaN,NaN,self_employed,1020.0,2,582,2291.91,...,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1,2019-08-06
4,6,1579,42,Male,2.0,self_employed,1494.0,3,388,927.72,...,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1,2019-11-03

In [4]:
data.shape

(28382, 21)

## tirino meqa rag ah iyo meeqaa dumar ah

In [7]:
data.gender.value_counts()

Male      16548
Female    11309
Name: gender, dtype: int64

## inaa ogaano customerskeena nooca ay yihiin: (Arday, Shaqaale, iskii u shaqeeste, gaboobe, company ushaqeeyo)

In [8]:
data.occupation.value_counts()

self_employed    17476
salaried          6704
student           2058
retired           2024
company             40
Name: occupation, dtype: int64

In [11]:
# how many columns do we have on out dataset.
data.columns

Index(['customer_id', 'vintage', 'age', 'gender', 'dependents', 'occupation',
       'city', 'customer_nw_category', 'branch_code', 'current_balance',
       'previous_month_end_balance', 'average_monthly_balance_prevQ',
       'average_monthly_balance_prevQ2', 'current_month_credit',
       'previous_month_credit', 'current_month_debit', 'previous_month_debit',
       'current_month_balance', 'previous_month_balance', 'churn',
       'last_transaction'],
      dtype='object')

In [12]:
data.dtypes

customer_id                         int64
vintage                             int64
age                                 int64
gender                             object
dependents                        float64
occupation                         object
city                              float64
customer_nw_category                int64
branch_code                         int64
current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
churn                               int64
last_transaction                   object
dtype: object

# ................................................................another video starts here: Variable Identification

## integer data type columns

In [13]:
data.dtypes[data.dtypes == 'int64']

customer_id             int64
vintage                 int64
age                     int64
customer_nw_category    int64
branch_code             int64
churn                   int64
dtype: object

## customer_id, vintage and age are int64 that's okey

## but churn , customer_networth_category and branch_code are categorical.

## customer_networth_category is ordinal category.

## branch_code : represents braches, it is categorical data type

## churn: 1 represents churn while 0 represents not churn, so we have to change categorical data type

## converting to category data type

In [19]:
data['churn'] = data['churn'].astype('category')
data['customer_nw_category'] = data['customer_nw_category'].astype('category')
data['branch_code'] = data['branch_code'].astype('category')

## kadib markii aan 3xdii kale kadhigay category kaliya 3 xdaan ayaa int ah

In [21]:
data.dtypes[data.dtypes == 'int64']

customer_id    int64
vintage        int64
age            int64
dtype: object

In [22]:
data.dtypes[data.dtypes == 'category']

customer_nw_category    category
branch_code             category
churn                   category
dtype: object

## these are all column that are float64 data types:

## but depencies is float 64 change it to int.
## also city is float64 change it to category

In [26]:
data.dtypes[data.dtypes == 'float64']

dependents                        float64
city                              float64
current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
dtype: object

## changing dependents to Int64 and city to category

In [30]:
data['dependents'] = data['dependents'].astype('Int64')
data['city'] = data['city'].astype('category')

## chagning the columns that are flaot64

In [31]:
data.dtypes[data.dtypes == 'float64']

current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
dtype: object

## checking 3 object data types

In [37]:
data[['gender', 'occupation', 'last_transaction']].dtypes

gender              object
occupation          object
last_transaction    object
dtype: object

## 3xdabo waa object: lkn se

## gender and occupation: make it categorical.

## last_transaction: make it datetime

## making gender and occupation to category

In [39]:
data[['gender', 'occupation']] = data[['gender', 'occupation']].astype("category")

In [41]:
## checking gender and occupation data type.
data[['gender', 'occupation']].dtypes

gender        category
occupation    category
dtype: object

## date time data type

In [42]:
# creating an instance(date) od DatetimeIndex calss using "last_transaction"
date = pd.DatetimeIndex(data['last_transaction'])

In [54]:
# extacting new columns from "last_transaction"

# last day of year when transaction was done
data['doy_ls_tran'] = date.dayofyear


# week of year when last transaction was done
data['woy_ls_tran'] = date.weekofyear

# monthe of year when last transaction was done
data['moy_ls_tran'] = date.month

# day of week when last transaction was done
data['dow_ls_tran'] = date.dayofweek

C:\Users\Fatih\AppData\Local\Temp\ipykernel_15644\519198547.py:8: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  data['woy_ls_tran'] = date.weekofyear

In [56]:
data[['last_transaction', 'doy_ls_tran' , 'woy_ls_tran', 'moy_ls_tran', 'dow_ls_tran']].head()

  last_transaction  doy_ls_tran  woy_ls_tran  moy_ls_tran  dow_ls_tran
0       2019-05-21        141.0         21.0          5.0          1.0
1       2019-11-01        305.0         44.0         11.0          4.0
2              NaT          NaN          NaN          NaN          NaN
3       2019-08-06        218.0         32.0          8.0          1.0
4       2019-11-03        307.0         44.0         11.0          6.0

In [70]:
data[['last_transaction', 'doy_ls_tran' , 'woy_ls_tran', 'moy_ls_tran', 'dow_ls_tran']].dtypes

last_transaction     object
doy_ls_tran         float64
woy_ls_tran         float64
moy_ls_tran         float64
dow_ls_tran         float64
dtype: object