In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
data = pd.read_csv('churn_prediction.csv')

In [13]:
# soo bandhigida 5ta rows ee ugu horeesa datadeena.
data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn,last_transaction
0,1,2101,66,Male,0.0,self_employed,187.0,2,755,1458.71,...,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0,2019-05-21
1,2,2348,35,Male,0.0,self_employed,NaN,2,3214,5390.37,...,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0,2019-11-01
2,4,2194,31,Male,0.0,salaried,146.0,2,41,3913.16,...,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0,NaT
3,5,2329,90,NaN,NaN,self_employed,1020.0,2,582,2291.91,...,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1,2019-08-06
4,6,1579,42,Male,2.0,self_employed,1494.0,3,388,927.72,...,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1,2019-11-03

In [14]:
# waa imisa row iyo imisa column 
data.shape

(28382, 21)

In [15]:
# soo bandhig dhamaanta columnka aan ku heesano datasetkeena.
data.columns

Index(['customer_id', 'vintage', 'age', 'gender', 'dependents', 'occupation',
       'city', 'customer_nw_category', 'branch_code', 'current_balance',
       'previous_month_end_balance', 'average_monthly_balance_prevQ',
       'average_monthly_balance_prevQ2', 'current_month_credit',
       'previous_month_credit', 'current_month_debit', 'previous_month_debit',
       'current_month_balance', 'previous_month_balance', 'churn',
       'last_transaction'],
      dtype='object')

In [17]:
# soo bandhig columnkasto iyo data typekiisa.
data.dtypes

customer_id                         int64
vintage                             int64
age                                 int64
gender                             object
dependents                        float64
occupation                         object
city                              float64
customer_nw_category                int64
branch_code                         int64
current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
churn                               int64
last_transaction                   object
dtype: object

## mean of age

In [18]:
print(data['age'].mean())

48.208336269466564

In [24]:
# mean of age who are likely to churn
## wuxuu fiirin doonaa columnka ageka, markii churn uu lamid yahay 0.
print(data[data['churn'] == 1] ['age'].mean())

47.461216730038025

In [22]:
## current balance of mean
print(data['current_balance'].mean())

7380.551803607912

In [25]:
## current balance of customers who are likely to churn
## wuxuu fiirindoonaa columnka current_balance markuu churnka lamid yahay 1
print(data[data['churn'] == 1]['current_balance'].mean())

5220.884321292768

## median of the age

In [26]:
print(data['age'].median())

46.0

In [27]:
## medain of age who are goint to churn
print(data[data['churn'] == 1] ['age'].median())

45.0